.container-payment {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.container-payment header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-payment header .logo {
  width: 140px;
}
.container-payment h1 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  color: #cfb53b;
  font-size: 35px;
  padding: 50px 0 0;
}

.container-payment .payments-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin: 30px auto;
  width: 80%;
}

.container-payment .payments-cart .payments {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 670px;
}
.container-payment .payments-cart .payments h3 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  color: #cfb53b;
  font-size: 22px;
  padding: 8px 0 15px 0;
  align-self: flex-start;
}

.container-payment .payments-cart .payments .payment {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 15px 0;
  padding: 20px 15px;
  border: 2px solid #cfb53b;
  border-radius: 15px;
  width: 100%;
  height: 100px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.17);
  transition: 0.5s all;
}

.container-payment .payments-cart .payments .payment:hover {
  cursor: pointer;
  background-color: #cfb53b;
}

.container-payment .payments-cart .payments .payment:hover h4 {
  color: white;
}

.container-payment .payments-cart .payments .payment img {
  width: 55px;
}
.container-payment .payments-cart .payments .payment h4 {
  color: #cfb53b;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin: 0 10px;
  transition: 0.5s all;
  text-align: start;
}

.container-payment .payments-cart .payments a {
  margin: 15px 0;
  text-decoration: none;
  color: #cfb53b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Carrois Gothic', sans-serif;
}

.container-payment .payments-cart .payments .back img {
  transform: rotate(180deg) translateX(10px);
}

.container-payment .payments-cart .see-cart {
  display: none;
  align-self: flex-start;
  padding: 12px 24px 12px 0;
  font-family: 'Carrois Gothic', sans-serif;
  background: none;
  border: none;
  font-size: 15px;
  color: #cfb53b;
  text-decoration: underline;
}

/* - Mercado Pago Style - */

.container-payment .payments-cart .methods {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 670px;
}

.container-payment .payments-cart .methods a {
  margin: 15px 0;
  text-decoration: none;
  color: #cfb53b;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Carrois Gothic', sans-serif;
}

.container-payment .payments-cart .methods h3 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  color: #cfb53b;
  font-size: 24px;
  padding: 0 0 15px;
}

.container-payment .payments-cart .methods p {
  text-align: start;
  font-family: 'Plus Jakarta Sans', sans-serif;
  padding: 10px 0 20px;
}

.container-payment .payments-cart .methods .payment-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-payment .payments-cart .methods .payment-images img {
  width: 50px;
  margin: 7px 8px 7px 0;
}

.container-payment .payments-cart .methods .pay-purchase {
  margin: 20px 0 10px;
  background-color: #cfb53b;
  color: white;
  padding: 13px 18px;
  width: 120px;
  border-radius: 15px;
  border: 1px solid #cfb53b;
  font-family: 'Carrois Gothic', sans-serif;
  font-size: 19px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.17);
}

.container-payment .payments-cart .methods a img {
  transform: rotate(180deg) translateX(10px);
}

/* - Transferencias Styles - */
.container-payment .payments-cart .methods .info-purchase {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-payment .payments-cart .methods .info-purchase h4 {
  color: #cfb53b;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin: 10px 0 15px;
}

.container-payment .payments-cart .methods .info-purchase .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px 0 8px;
}

.container-payment .payments-cart .methods .info-purchase .info h5 {
  color: #cfb53b;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  font-size: 20px;
}
.container-payment .payments-cart .methods .info-purchase .info p {
  padding: 5px 0;
}
#walletBrick_container div div div div div button {
  background-color: #cfb53b !important;
}

@media (max-width: 1367px) {
  .container-payment header {
    height: 100px;
  }

  .container-payment header .logo {
    width: 110px;
  }
  .container-payment .payments-cart {
    width: 80%;
  }
  .container-payment h1 {
    font-size: 30px;
  }

  .container-payment .payments-cart .payments {
    padding: 5px 0;
  }
  .container-payment .payments-cart .payments .payment {
    padding: 8px 8px;
    height: 85px;
  }

  .container-payment .payments-cart .payments .payment h4 {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .container-payment .payments-cart {
    width: 95vw;
  }
  .container-payment
    .payments-cart
    .tarjetas
    .pay-form
    .inputs
    .input-group:nth-child(1) {
    width: 30%;
  }
}

@media (max-width: 768px) {
  .container-payment h1 {
    font-size: 30px;
  }
  .container-payment .payments-cart {
    flex-direction: column-reverse;
    width: 80vw;
  }
  .container-payment .payments-cart .payments,
  .container-payment .payments-cart .methods {
    width: 100%;
  }

  .container-payment .payments-cart .see-cart {
    display: block;
  }
}
@media (max-width: 515px) {
  .container-payment .payments-cart {
    width: 90vw;
  }
}
