.container-modal {
  position: fixed;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  transition: 0.5s all;
  font-family: 'Plus Jakarta Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.container-modal .modal {
  background-color: white;
  min-width: 900px;
  display: flex;
  flex-direction: column;
  transform: translateY(40px);
  transition: 0.5s all;
}

.container-modal .modal .header-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #00a87a;
  padding: 20px;
}

.container-modal .modal .header-modal h3 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: normal;
  color: #00a87a;
  font-size: 23px;
}

.container-modal .modal .header-modal button {
  background: none;
  border: none;
  outline: none;
}
.container-modal .modal .header-modal button:hover {
  cursor: pointer;
}

.container-modal .modal .body-modal {
  margin: 0 15px;
  padding: 7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 600px;
  overflow-y: scroll;
}

.show-modal {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  visibility: visible;
  opacity: 1;
}
.show-modal .modal-add-product {
  transform: translateY(0px);
}
