* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Index {
}

.containerIndex {
}

.main {
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #202020;
  background-color: #f6f7fb;
}

.main > h1 {
  width: 40%;
  font-size: 40px;
}

.main > p {
  width: 45%;
  margin: 25px 0;
  line-height: 27px;
}

.main > button {
  outline: none;
  border: none;
  background-color: #2a295f;
  color: white;
  text-decoration: none;
  padding: 14px 30px;
  font-size: 14px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f7fb;
  margin: 15px auto;
  padding: 50px 15px;
}
.about img {
  box-shadow: 0px 1px 10px -6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 10px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 10px -6px rgba(0, 0, 0, 0.3);
}

.descriptionAbout {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.descriptionAbout h2 {
  text-align: start;
  font-size: 38px;
  width: 50%;
}

.descriptionAbout p {
  text-align: start;
  width: 65%;
  font-size: 13px;
  margin: 15px 0;
  line-height: 22px;
}

.descriptionAbout > button {
  background-color: #202020;
  outline: none;
  border: none;
  margin-top: 15px;
  padding: 16px 30px;
  color: white;
  transition: 0.5s all;
}

.descriptionAbout > button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.accesories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f6f7fb;
  margin: 15px auto;
  padding: 50px 15px;
}
.accesories h2 {
  font-size: 35px;
  margin-bottom: 25px;
}
.descriptionAccesories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 49%;
  margin: 0 auto;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;
}
.description p {
  text-align: start;
}

.description > button {
  border: none;
  outline: none;
  margin: 20px 0;
  background-color: #2a295f;
  color: white;
  text-decoration: none;
  padding: 14px 30px;
  font-size: 14px;
  transition: 0.5s all;
}
.description > button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.descriptionAccesories img {
  box-shadow: 0px 1px 10px -6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 10px -6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 10px -6px rgba(0, 0, 0, 0.3);
}

.province {
  background-color: #f6f7fb;
  margin: 15px auto;
  padding: 50px 15px;
}

.province h2 {
  font-size: 35px;
  margin-bottom: 15px;
}
.province p {
  margin: 0 auto;
  width: 40%;
  line-height: 20px;
  font-size: 14px;
}
.province > button {
  border: none;
  outline: none;
  margin: 20px 0;
  background-color: #202020;
  color: white;
  text-decoration: none;
  padding: 14px 30px;
  font-size: 14px;
  transition: 0.5s all;
}

.reviews {
  margin: 15px auto;
  padding: 50px 15px;
}
.reviews h2 {
  font-size: 36px;
}

.containerReviews {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0;
}

.review {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  min-height: 280px;
  margin: 0 20px;
  padding: 15px;
  padding-top: 25px;
  border: 1px solid #dbdbdb;
}
.review .opinion {
  text-align: start;
  line-height: 20px;
  font-size: 14px;
}

.review .profileUser {
  width: 100%;
  background-color: #f6f7fb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 5px;
}

.profileUser > img {
  height: 55px;
  width: 55px;
  object-fit: cover;
  border-radius: 50%;
}
.profileUser .dataUser {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 0 10px;
}
.dataUser h4,
.dataUser span {
  text-align: start;
}

.dataUser h4 {
  font-size: 22px;
}
.dataUser span {
  padding: 5px 0;
}
