* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  background-image: url('/src/assets/background.png');
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', serif;
}

.home h2,
.home h1 {
  color: white;
}

.home h2 {
  font-size: 35px;
  font-weight: 500;
}
.home h1 {
  font-size: 75px;
  font-weight: 600;
}

.home .btn-contact {
  text-decoration: none;
  background-color: #00a87a;
  border: 2px solid #00a87a;
  outline: none;
  color: white;
  font-size: 19px;
  padding: 20px 32px;
  width: 220px;
  border-radius: 45px;
  margin-top: 5vh;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  transition: 0.5s all;
}

.home .btn-contact:hover {
  cursor: pointer;
  color: #00a87a;
  background: white;
}

.container-notable-products {
  padding: 40px 0;
  font-family: 'Poppins', serif;
}
.container-notable-products h2 {
  color: #2a295f;
  font-size: 55px;
  font-weight: 600;
}

.container-regards {
  background-color: #f3f3f3;
  height: 70vh;
  font-family: 'Poppins', serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-regards .regards {
  width: 68%;
  margin: 0 auto;
}
.container-regards .regards p {
  text-align: center;
  color: #2a295f;
  font-size: 26px;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .home {
    height: 70vh;
  }

  .home h2 {
    font-size: 30px;
  }

  .home h1 {
    margin-top: 5vh;
    font-size: 75px;
    line-height: 65px;
    display: flex;
    flex-direction: column;
  }

  .home h1 span {
    font-size: 35px;
  }

  .home .btn-contact {
    font-size: 17px;
    padding: 16px 24px;
    width: 200px;
  }

  .container-notable-products h2 {
    font-size: 40px;
  }

  .container-regards .regards {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .home {
    height: 55vh;
  }

  .container-regards .regards {
    width: 90%;
  }

  .container-regards .regards p {
    text-align: start;
    font-size: 23px;
  }
}
@media (max-width: 500px) {
  .home {
    height: 50vh;
  }

  .home h2 {
    font-size: 25px;
  }

  .home h1 {
    font-size: 55px;
    line-height: 55px;
  }

  .home h1 span {
    font-size: 30px;
  }

  .container-notable-products h2 {
    font-size: 28px;
  }

  .container-regards {
    height: auto;
    padding: 50px 0;
  }

  .container-regards .regards p {
    font-size: 18px;
  }
}
