.faq {
  font-family: 'Poppins', serif;
  color: #2a295f;
}

.containerFaq {
  background: linear-gradient(
    179.97deg,
    rgba(117, 202, 179, 0.2) 15.73%,
    rgba(255, 255, 255, 0.2) 89.27%
  );
  min-height: 60vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.containerFaq .cloud {
  position: absolute;
  z-index: -1;
}
.containerFaq .cloud.cloudLeft {
  bottom: 40px;
  left: 0;
}
.containerFaq .cloud.cloudRight {
  top: 40px;
  right: 0;
}

.containerFaq .cardFaq {
  width: 60%;
  background: #f8fffd;

  border-radius: 25px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  padding: 50px 30px;
  margin: 8vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerFaq .cardFaq h1 {
  font-size: 55px;
  font-weight: 600;
  color: #2a295f;
  margin: 4vh 0;
  text-align: center;
}

.containerFaq .cardFaq .faqItem {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 62%;
}

.containerFaq .cardFaq .faqItem h3 {
  text-align: start;
}
.containerFaq .cardFaq .faqItem p {
  text-align: start;
}
.containerBtnContact{
  margin: 6vh 0 2vh;
}
.containerFaq .cardFaq .containerBtnContact .btnContact {
  background-color: #00a87a;
  text-decoration: none;
  color: white;
  font-size: 19px;
  font-weight: 300;
  border: none;
  outline: none;
  border-radius: 50px;
  width: 200px;
  padding: 18px 24px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1440px) {
  .containerFaq .cardFaq {
    width: 75%;
    padding: 40px 30px;
  }

  .containerFaq .cardFaq h1 {
    font-size: 45px;
    margin: 2vh 0;
  }

  .containerFaq .cardFaq .faqItem {
    width: 70%;
  }
}

@media (max-width: 1024px) {
  .containerFaq .cardFaq {
    width: 80%;
  }

  .containerFaq .cardFaq h1 {
    font-size: 40px;
  }

  .containerFaq .cardFaq .faqItem {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .containerFaq .cloud.cloudLeft {
    left: -250px;
  }
  .containerFaq .cloud.cloudRight {
    right: -250px;
  }
  .containerFaq .cardFaq .faqItem {
    width: 90%;
  }
}

@media (max-width: 550px) {
  .containerFaq .cardFaq {
    width: 90%;
  }

  .containerFaq .cardFaq h1 {
    font-size: 30px;
  }

  .containerFaq .cardFaq .faqItem {
    width: 95%;
  }
}
