.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px 0;
  position: relative;
  font-family: 'Poppins', serif;
}

.btn-menu {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #00a87a;
  border: none;
  outline: none;
  height: 45px;
  width: 50px;
  border-radius: 10px;
  display: none;
}
.btn-menu:hover {
  cursor: pointer;
}
.btn-menu > img {
  height: 15px;
}

.container-menu {
  transition: 0.5s all;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.show-menu {
  visibility: visible;
  opacity: 1;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.25);
}

.menu-mobile {
  background-color: white;
  width: 350px;
  height: 100%;
  position: relative;
  left: -350px;
  transition: 0.5s all;
  padding: 0 25px;
  z-index: 99999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-mobile .back {
  all: unset;
  background: none;
  border: none;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 99999;
}
.menu-mobile .back:hover {
  cursor: pointer;
}
.menu-mobile .back > img {
  transform: rotate(90deg);
  height: 13px;
}

.menu-mobile > img {
  height: 100px;
}

.menu-mobile > .language {
  margin: 15px 0;
}
.show-menu .menu-mobile {
  left: 0;
}

.menu-mobile .menu-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 0;
}

.menu-mobile .menu-nav .menu-item {
  font-size: 18px;
}

.logo {
  margin-right: 50px;
}
.logo img {
  height: 70px;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 20px;
  margin-left: 50px;
  padding: 15px 30px;
  border-radius: 50px;
  background-color: #f3f3f3;
}
.menu-item {
  text-decoration: none;
  padding: 15px;
  font-size: 17px;
  color: #2a295f;
}

.user > button {
  background: none;
  outline: none;
  border: none;
  font-size: 14px;
  padding: 12px 24px;
  margin: 0 10px;
}

.tracking {
  background-color: #2a295f;
  color: white;
  text-decoration: none;
  padding: 14px 30px;
  font-size: 14px;
}

.language {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 25vh;
  position: relative;
}
.language > p {
  padding: 0 5px;
  font-size: 15px;
}
.language img:first-child {
  height: 25px;
}
.language img:last-child {
  height: 14px;
  padding: 3px;
}
.language img:last-child:hover {
  cursor: pointer;
}

.language .dialog-language {
  background-color: white;
  padding: 10px 0;
  position: absolute;
  top: 45px;
  right: 0;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.1);
}

.language .dialog-language ul {
  list-style: none;
}

.language .dialog-language ul li {
  padding: 5px 25px;
  transition: 0.5s all;
  width: 100%;
}

.language .dialog-language ul li:hover {
  cursor: pointer;
  background-color: #00a87a;
  color: white;
}

@media (max-width: 1240px) {
  .menu {
    margin-left: 0px;
  }
  .header > .menu > .language {
    margin-left: 5vh;
  }
}

@media (max-width: 768px) {
  .header {
    padding: 50px 0;
  }

  .header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  .header > .menu {
    background: none;
    margin-right: 0;
    position: relative;
    left: 280px;
  }
  .header > .menu > .menu-item {
    display: none;
  }

  .header > .menu > .language {
    display: none;
  }

  .btn-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 690px) {
  .header > .menu {
    left: 38%;
  }
}

@media (max-width: 425px) {
  .header > .menu {
    left: 35%;
  }
}
