.animate__delay-01s{
    animation-delay: 0.1s;
}
.animate__delay-02s{
    animation-delay: 0.2s;
}
.animate__delay-03s{
    animation-delay: 0.3s;
}
.animate__delay-04s{
    animation-delay: 0.4s;
}
.animate__delay-05s{
    animation-delay: 0.5s;
}
.animate__delay-06s{
    animation-delay: 0.6s;
}
.animate__delay-07s{
    animation-delay: 0.7s;
}