.footer {
  background-color: #2a295f;
  width: 100%;
  padding: 40px 0;
  color: white;
}

.footer > img {
  width: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .footerInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 65px 0;
}
.footer .footerInfo p{
  font-size: 19px;
}
.footer .footerInfo .socials {
  display: flex;
  flex-direction: row;
}

.footer .footerInfo .socials .social {
  margin: 0 20px;
}

.footer .footerInfo .socials .social > img {
  width: 45px;
}

.footer .footerInfo .miniMenu a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 19px;
  text-align: start;
}

@media (max-width: 950px) {
  .footer .footerInfo .socials .social {
    margin: 0 10px;
  }
}
@media (max-width: 768px) {
  .footer .footerInfo {
    flex-direction: column;
    padding: 40px 0;
  }

  .footer .footerInfo p {
    order: 3;
  }
  .footer .footerInfo .socials {
    order: 1;
  }
  .footer .footerInfo .socials .social {
    margin: 0 30px;
  }
  .footer .footerInfo .miniMenu {
    order: 2;
    padding: 7vh 0;
  }
  .footer .footerInfo .miniMenu a{
    margin: 0 20px;
  }
}
